
$form-bg: #13232f;
$white: #ffffff;

$main: $green;
$main-light: lighten($main,5%);
$main-dark: darken($main,5%);

$gray-light: #a0b3b0;
$gray: #ddd;

$thin: 300;
$normal: 400;
$bold: 600;
$br: 4px;

.login-modal {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  padding: 0 5px;
  overflow-x: auto;
  z-index: 9999;
  //background: var(--background);
  a {
    text-decoration:none;
    color:$main;
    transition:.5s ease;
    &:hover {
      color:$main-dark;
    }
  }

  .login-modal-overflow {
    width: 100%;
    height: 100%;
    position: fixed;
    background: var(--background);
    opacity: .7;
    cursor: pointer;
  }

  .form-enter {
    width: 100%;
    max-width:600px;
    background: var(--background-notes-dark);
    padding: 40px;
    border-radius: 10px;
    box-shadow:0 4px 10px 4px rgba($form-bg,.3);
    //position: absolute;
    //top: 50%;
    //left: 50%;
    //transform: translate(-50%, -50%);
    overflow: auto;
    z-index: 1;
  }
  @media (max-width: 600px) {
    .form-enter {
      padding: 30px 10px;
    }
  }

  .tab-group {
    list-style:none;
    padding:0;
    margin:0 0 15px 0;
    &:after {
      content: "";
      display: table;
      clear: both;
    }
    li a {
      display:block;
      text-decoration:none;
      padding:15px;
      background:rgba($gray-light,.25);
      color:$gray-light;
      font-size:20px;
      line-height: 1;
      float:left;
      width:50%;
      text-align:center;
      cursor:pointer;
      transition:.5s ease;
      &:hover {
        background:$main-dark;
        color:$white;
      }
    }
    li:first-child a{
      border-radius: 10px 0 0 10px;
    }
    li:last-child a{
      border-radius: 0 10px 10px 0;
    }
    .active a {
      background:$main;
      color:$white !important;
    }
  }

  .tab-content > div {
    flex-flow: column;
  }
  .tab-content > div:last-child {
    display:none;
  }

  h1 {
    text-align:center;
    color: #fff;
    font-weight:$thin;
    margin:0 0 15px;
  }

  label {
    position:absolute;
    transform:translateY(8px);
    left:13px;
    color:rgba($white,.5);
    transition:all 0.25s ease;
    -webkit-backface-visibility: hidden;
    pointer-events: none;
    font-size:18px;
    .req {
      margin:2px;
      color:$main;
    }
  }

  label.active {
    transform:translateY(42px);
    left:2px;
    font-size:14px;
    .req {
      opacity:0;
    }
  }

  label.highlight {
    color:$white;
  }

  input, textarea {
    font-size:18px;
    display:block;
    width:100%;
    height:100%;
    padding: 10px;
    background:none;
    background-image:none;
    //border:1px solid $gray-light;
    color: #fff;
    //border-radius:0;
    border: 2px solid #0ec92d;
    border-radius: 5px;
    transition:border-color .25s ease, box-shadow .25s ease;
    &:focus {
      outline:0;
      border-color:$main;
    }
  }

  textarea {
    border:2px solid $gray-light;
    resize: vertical;
  }

  .field-wrap {
    position:relative;
    margin-bottom:30px;
  }

  .top-row {
    &:after {
      content: "";
      display: table;
      clear: both;
    }

    > div {
      float:left;
      width:48%;
      margin-right:4%;
      &:last-child {
        margin:0;
      }
    }
  }

  .button {
    border:0;
    outline:none;
    //border-radius:0;
    padding:20px 0;
    font-size:20px;
    font-weight:$bold;
    text-transform:uppercase;
    letter-spacing:.1em;
    line-height: 1;
    background:$main;
    border-radius: 10px;
    color:$white;
    transition:all.5s ease;
    -webkit-appearance: none;
    &:hover, &:focus {
      background:$main-dark;
    }
  }

  .button-block {
    display:block;
    width:100%;
  }

  .forgot {
    margin-top:-20px;
    text-align:right;
  }
}







$red: #f44336;
$pink: #E91E63;
$purple: #9C27B0;
$deep-purple: #673AB7;
$indigo: #3F51B5;
$blue: #2196F3;
$light-blue: #03A9F4;
$cyan: #00BCD4;
$teal: #009688;
$green: #4CAF50;
$light-green: #8BC34A;
$lime: #CDDC39;
$yellow: #FFEB3B;
$amber: #FFC107;
$orange: #FF9800;
$deep-orange: #FF5722;
$brown: #795548;
$grey: #9E9E9E;
$blue-grey: #607D8B;

$array-color-swatch: (
    "red":       	 $red,
    "pink":      	 $pink,
    "purple":        $purple,
    "deep-purple":   $deep-purple,
    "indigo":        $indigo,
    "blue":          $blue,
    "light-blue":    $light-blue,
    "cyan":          $cyan,
    "teal":          $teal,
    "green":         $green,
    "light-green":   $light-green,
    "lime":          $lime,
    "yellow":        $yellow,
    "amber":         $amber,
    "orange":        $orange,
    "deep-orange":   $deep-orange,
    "brown":         $brown,
    "grey":          $grey,
    "blue-grey":     $blue-grey
);

// logmod
$logmod-baseline: 20px;
$logmod-bg: rgba(#000, 0.2);
$logmod-zindex: 1;

.logmod {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 1;
  background: $logmod-bg;
  z-index: $logmod-zindex;
  @include clearfix();

  // .logmod__wrapper
  &__wrapper {
    display: block;
    background: #FFF;
    position: relative;
    max-width: 550px;
    border-radius: 4px;
    box-shadow: 0 0 18px rgba(#000, 0.2);
    margin: ($logmod-baseline * 5) auto;
  }

  // .logmod__close
  &__close {
    display: block;
    position: absolute;
    right: 50%;
    background: url("http://imgh.us/close_white.svg") no-repeat scroll 0% 0% transparent;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    top: -(($logmod-baseline * 2) + $logmod-baseline);
    margin-right: -($logmod-baseline);
    width: $logmod-baseline * 2;
    height: $logmod-baseline * 2;
  }

  // .logmod__container
  &__container {
    overflow: hidden;
    width: 100%;
    @include clearfix;
  }

  // .logmod__tab
  &__tab {
    position: relative;
    width: 100%;
    height: 0;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;

    &-wrapper {
      width: 100%;
      height: auto;
      overflow: hidden;
    }

    &.show {
      opacity: 1;
      height: 100%;
      visibility: visible;
    }
  }

  // .logmod__tabs
  &__tabs {
    list-style: none;
    padding: 0;
    margin: 0;
    @include clearfix;

    li {
      &.current {
        a {
          background: #FFF;
          color: #333;
        }
      }

      a {
        width: 50%;
        position: relative;
        float: left;
        text-align: center;
        background: #D2D8D8;
        line-height: $logmod-baseline * 3;
        height: $logmod-baseline * 3;
        text-decoration: none;
        color: #809191;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 16px;
        cursor: pointer;

        &:focus {
          outline: dotted 1px;
        }
      }
    }
  }

  // .logmod__heading
  &__heading {
    text-align: center;
    padding: ($logmod-baseline / 2) 0 ($logmod-baseline / 2) 0;

    // .logmod__heading-subtitle
    &-subtitle {
      display: block;
      font-weight: 400;
      font-size: 18px;
      color: #888;
      line-height: $logmod-baseline * 2;
    }
  }

  // .logmod__form
  &__form {
    border-top: 1px solid #e5e5e5;
  }

  // .logmod__alter
  &__alter {
    display: block;
    position: relative;
    margin-top: 30px;
    border-radius: 10px;
    overflow: hidden;
    @include clearfix;

    .connect:last-child {
      border-radius: 0 0 4px 4px;
    }
  }
}

.logmod__alter-container a {
  font-size: 16px;
}
.logmod__alter-container a:hover {
  color: #fff;
}
@media (max-width: 600px) {
  .logmod__alter-container a {
    font-size: 13px;
  }
}

$facebook: #dd4b39;
$googleplus: #dd4b39;
// [classname] [background-color] [color]
$items: facebook #3b5998 #FFF, googleplus #dd4b39 #FFF;
.connect {
  overflow: hidden;
  position: relative;
  display: block;
  width: 100%;
  height: $logmod-baseline * 3;
  line-height: $logmod-baseline * 3;
  text-decoration: none;
  @include clearfix;

  &:focus,
  &:hover,
  &:visited {
    color: #FFF;
    text-decoration: none;
  }

  // .connect__icon
  &__icon {
    vertical-align: middle;
    float: left;
    width: 70px;
    text-align: center;
    font-size: 22px;
  }

  // .connect__context
  &__context {
    vertical-align: middle;
    text-align: center;
    transition: .5s ease;
  }

  @each $item in $items {
    &.#{nth($item, 1)} {
      background: nth($item, 2);
      color: nth($item, 3);

      a {
        color: nth($item, 3);
      }
      .connect__context:hover {
        background: darken(nth($item, 2), 5%);
      }

      .connect__icon {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: darken(nth($item, 2), 13%);
      }
    }
  }
}

.connect__icon i {
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-facebook {
  background: url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='fab' data-icon='facebook-f' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512' class='svg-inline--fa fa-facebook-f fa-w-10'%3E%3Cpath fill='%23fff' d='M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z' class=''%3E%3C/path%3E%3C/svg%3E") no-repeat;
}

.fa-google-plus {
  background: url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='fab' data-icon='google' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 488 512' class='svg-inline--fa fa-google fa-w-16'%3E%3Cpath fill='%23fff' d='M488 261.8C488 403.3 391.1 504 248 504 110.8 504 0 393.2 0 256S110.8 8 248 8c66.8 0 123 24.5 166.3 64.9l-67.5 64.9C258.5 52.6 94.3 116.6 94.3 256c0 86.5 69.1 156.6 153.7 156.6 98.2 0 135-70.4 140.8-106.9H248v-85.3h236.1c2.3 12.7 3.9 24.9 3.9 41.4z' class=''%3E%3C/path%3E%3C/svg%3E") no-repeat;
}
